main {
    box-sizing: border-box;
    border-radius: var(--rad);
    background-color: rgb(230, 240, 245);
    overflow: auto;
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "l r";
}

#l {
    grid-area: l;
    padding: var(--pri-pad);
}

#r {
    padding: var(--pri-pad);
    grid-area: r;
    color: rgb(230, 240, 245);
    background-color: rgb(12, 12, 46);
}