:root {
    --pri-pad: 20px;
    --rad: 5px
}

:root {
    box-sizing: border-box;
}

body {
    padding: 40px min(20%,400px);
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
}