#l {
    grid-area: l;
    // animations are absolute
    position: relative;
    padding: var(--pri-pad);
    
    .lToolbar {
        display: flex;
        justify-content: end;
        gap: 10px
    }
}