.list-item {
    background-color: #b3a7c0;
    border-radius: var(--rad);
    margin-block: 10px;
    display: block;
    transition: 0.3s;
    
    a {
        padding: 5px 10px;
        display: block;
        width: 100%;
        height: 100%;
        color: inherit;
        text-decoration: inherit;
    }
    
    &:hover {
        background-color: #91869d;
    }
    
    &:active {
        transform: translateY(-5px);
    }
}